.App {
  text-align: center;
}

header,
main,
footer {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

header {
  background-color: #5dcdb3;
  min-height: 10vh;
  text-align: left;
  padding-left: 2vw;
  font-size: 40px;
  color: white;

  .menu {
    font-size: 16px;
  }
}

main {
  min-height: 90vh;
}

footer {
  min-height: 10vh;
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}
